<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% load static from staticfiles %}
{% static "css/base.css" as base_css %}
{% static "css/fonts.css" as fonts_css %}
{% static "img/logos/logo45.png" as jt_logo_bar %}
{% static "img/logos/logo32.png" as jt_logo_icon %}
{% static "img/logos/logo_juliotrigo.png" as juliotrigo_logo %}
{% static "img/logos/logo_watermark.png" as watermark_logo %}
{% static "img/logos/Twitter.png" as twitter_logo %}
{% static "img/logos/Octocat.png" as github_logo %}
{% static "img/logos/LinkedIn.png" as linkedin_logo %}
{% static "img/logos/Firefox.png" as firefox_logo %}
{% static "img/logos/Chromium.png" as chromium_logo %}
{% static "img/logos/Django.gif" as django_logo %}
{% static "img/logos/Python.png" as python_logo %}
{% static "img/logos/HTML5.png" as html5_logo %}
{% static "img/logos/google_plus_base.png" as google_plus_base_logo %}
{% static "img/desktop/folder.png" as folder_desktop %}
{% static "img/desktop/recycle.png" as recycle_bin %}
{% static "img/red-close-button.png" as close_button %}
{% static "img/texteditor.gif" as text_editor %}
{% static "js/windows.js" as windows_js %}
{% static "js/modernizr-2.6.2.js" as modernizr_js %}
{% static "js/dnd.js" as dnd_js %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ fonts_css }}" />
        <link rel="stylesheet" type="text/css" href="{{ base_css }}" />
        <link rel="shortcut icon" href="{{ jt_logo_icon }}" />
        <script src="{{ modernizr_js }}"></script>
    </head>
    <body>
        <div id="content-wrapper">
            <!--
            <div id="language-selection">
                <form action="{% url 'set_language' %}" method="post">
                    <div>
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ get_full_path }}" />
                        <select name="language">
                            {% get_language_info_list for LANGUAGES as langs %}
                            {% for language in langs %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        {# Translators: Language selection: submit button. #}
                        <input type="submit" value="{% trans "Go" %}" />
                    </div>
                </form>
            </div>
            -->
            <!--
            <div id="logo">
                <img src="{{ juliotrigo_logo }}" alt="Logo juliotrigo" height="50" width="200">
            </div>
            -->
            <div id="watermark">
                <img src="{{ watermark_logo }}" alt="Logo JT watermark" height="277" width="230">
            </div>
            <div id="motto">
                <h1>{% trans "Software Developer" %}</h1>
                <p>{% trans "Python, Django, REST, BDD,<br>HTML, CSS, XML, Linux,<br>ERP, NAV, SQL<br>JSON, Ajax,<br>GIT" %}</p>
            </div>
             <div id="name">
                <p>{% trans "Julio Trigo" %}</p>
            </div>
            <div id="first-column" class="column">
                <div class="file" ondblclick="appWindows.showstuff('work', appWindows.folder.type);">
                    <p>
                        <img src="{{ folder_desktop }}" alt="Work">
                        {% trans "Work" %}
                    </p>
                </div>
                <div class="file" ondblclick="appWindows.showstuff('projects', appWindows.folder.type);">
                    <p>
                        <img src="{{ folder_desktop }}" alt="Projects">
                        {% trans "Projects" %}
                    </p>
                </div>
                <div class="file" ondblclick="appWindows.showstuff('license', appWindows.firefox.type);">
                    <p>
                        <img src="{{ firefox_logo }}" alt="LICENSE">
                        {% trans "LICENSE" %}
                    </p>
                </div>
                <div class="file" ondblclick="appWindows.showstuff('readme', appWindows.txt.type);">
                    <p>
                        <img src="{{ text_editor }}" alt="README" height="48" width="48">
                        {% trans "README" %}
                    </p>
                </div>
            </div>
            <div id="second-column" class="column">
                <div class="file" ondblclick="appWindows.showstuff('about', appWindows.firefox.type);">
                    <p>
                        <img src="{{ firefox_logo }}" alt="About">
                        {% trans "About" %}
                    </p>
                </div>
                <div class="file" ondblclick="appWindows.showstuff('contact', appWindows.firefox.type);">
                    <p>
                        <img src="{{ firefox_logo }}" alt="Contact">
                        {% trans "Contact" %}
                    </p>
                </div>
            </div>
            <div id="recycle-bin" class="column">
                <div class="file" ondblclick="appWindows.showstuff('recycle', appWindows.recycle.type);">
                    <p>
                        <img src="{{ recycle_bin }}" alt="Recycle Bin">
                        {% trans "Recycle" %}
                    </p>
                </div>
            </div>
            <div id="language-bar">
                <p>EN</p>
                <p>ES</p>
            </div>
            {% block windows %}{% endblock %}
        </div>
        <footer id="bottom-bar">
            <div>
                <ul>
                    <li class="align-left">
                        <a href="{% url 'home' %}">
                            <img src="{{ jt_logo_bar }}" alt="juliotrigo">
                        </a>
                    </li>
                    <li class="align-left border-left">
                        <a href="https://github.com/juliotrigo">
                            <img src="{{ github_logo }}" alt="GitHub">
                        </a>
                    </li>
                    <li class="align-left">
                        <a href="http://uk.linkedin.com/in/juliotrigo/en">
                            <img src="{{ linkedin_logo }}" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="align-left">
                        <a href="https://twitter.com/juliotrigo">
                            <img src="{{ twitter_logo }}" alt="Twitter">
                        </a>
                    </li>
                    <li class="align-left">
                        <a href="https://plus.google.com/u/0/100694908548190777858">
                            <img src="{{ google_plus_base_logo }}" alt="Google+" height="45" width="45">
                        </a>
                    </li>

                    <li class="align-left" id="bar_folder">
                        <div>
                            <img src="{{ folder_desktop }}" alt="Folder">
                        </div>
                    </li>
                    <li class="align-left" id="bar_firefox">
                        <div>
                            <img src="{{ firefox_logo }}" alt="Firefox">
                        </div>
                    </li>
                    <li class="align-left" id="bar_chromium">
                        <div>
                            <img src="{{ chromium_logo }}" alt="Chromium">
                        </div>
                    </li>
                    <li class="align-left" id="bar_txt">
                        <div>
                            <img src="{{ text_editor }}" alt="Text" height="45" width="45">
                        </div>
                    </li>

                    <li class="align-right">
                        <p>{{ time }}</p>
                    </li>
                    <li class="align-right border-left">
                        <p id="lan" onClick="expand_contract_lan()">{% trans "LAN" %}</p>
                    </li>
                    <li class="align-right">
                        <a href="http://www.python.org">
                            <img src="{{ python_logo }}" alt="Python" height="45" width="35">
                        </a>
                    </li>
                    <li class="align-right">
                        <a href="http://www.djangoproject.com">
                            <img src="{{ django_logo }}" alt="Django" height="19" width="45">
                        </a>
                    </li>
                    <li class="align-right">
                        <a href="http://validator.w3.org/nu/?doc=http%3A%2F%2Fjuliotrigo.com">
                            <img src="{{ html5_logo }}" alt="HTML5" height="45" width="45">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="{{ windows_js }}"></script>
        <script src="{{ dnd_js }}"></script>

    </body>
</html>