<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% load static from staticfiles %}
{% static "css/base.css" as base_css %}
{% static "img/logos/Twitter.png" as twitter_logo %}
{% static "img/logos/Octocat.png" as github_logo %}
{% static "img/logos/LinkedIn.png" as linkedin_logo %}
{% static "img/logos/logo45.png" as jt_logo_bar %}
{% static "img/logos/logo32.png" as jt_logo_icon %}
{% static "img/logos/juliotrigo_big.png" as juliotrigo_big_logo %}
{% static "img/logos/Firefox.png" as firefox_logo %}
{% static "img/logos/Chromium.png" as chromium_logo %}
{% static "img/desktop/folder.png" as folder_desktop %}
{% static "img/red-close-button.png" as close_button %}
{% static "js/windows.js" as windows_js %}
{% static "js/modernizr-2.6.2.js" as modernizr_js %}
{% static "js/dnd.js" as dnd_js %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
    <head>
        <meta charset="UTF-8">
        <title>juliotrigo - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ base_css }}" />
        <link rel="shortcut icon" href="{{ jt_logo_icon }}" />
        <script src="{{ modernizr_js }}"></script>
    </head>
    <body>
        <div id="content-wrapper">
            <div id="logo">
                <img src="{{ juliotrigo_big_logo }}" alt="juliotrigo" height="100" width="400">
            </div>
            <div id="language-selection">
                <form action="{% url 'set_language' %}" method="post">
                    <div>
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ get_full_path }}" />
                        <select name="language">
                            {% get_language_info_list for LANGUAGES as langs %}
                            {% for language in langs %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                        {# Translators: Language selection: submit button. #}
                        <input type="submit" value="{% trans "Go" %}" />
                    </div>
                </form>
            </div>
            <div id="first-column" class="column">
                <div class="file" ondblclick="showstuff('work');">
                    <p>
                        <img src="{{ folder_desktop }}" alt="Work">
                        {% trans "Work" %}
                    </p>
                </div>
                <div class="file" ondblclick="showstuff('projects');">
                    <p>
                        <img src="{{ folder_desktop }}" alt="Projects">
                        {% trans "Projects" %}
                    </p>
                </div>
                <div class="file">
                    <p>
                        <img src="{{ firefox_logo }}" alt="About">
                        {% trans "About" %}
                    </p>
                </div>
                <div class="file">
                    <p>
                        <img src="{{ firefox_logo }}" alt="Contact">
                        {% trans "Contact" %}
                    </p>
                </div>
            </div>
            <div id="second-column" class="column">
                <div class="file">
                    <p>
                        <img src="{{ firefox_logo }}" alt="README">
                        {% trans "README" %}
                    </p>
                </div>
                <div class="file" ondblclick="showstuff('license');">
                    <p>
                        <img src="{{ firefox_logo }}" alt="License">
                        {% trans "Copyright-License" %}
                    </p>
                </div>
            </div>
            
            {% block windows %}{% endblock %}
            
        </div>
        <footer id="bottom-bar">
            <div>
                <ul>
                    <li class="align-left">
                        <a href="{% url 'home' %}">
                            <img src="{{ jt_logo_bar }}" alt="juliotrigo">
                        </a>
                    </li>
                    <li class="align-left border-left">
                        <a href="https://github.com/juliotrigo">
                            <img src="{{ github_logo }}" alt="GitHub">
                        </a>
                    </li>
                    <li class="align-left">
                        <a href="http://uk.linkedin.com/in/juliotrigo/en">
                            <img src="{{ linkedin_logo }}" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="align-left">
                        <a href="https://twitter.com/juliotrigo">
                            <img src="{{ twitter_logo }}" alt="Twitter">
                        </a>
                    </li>
                    <li class="align-right">
                        <p>{{ time }}</p>
                    </li>
                    <li class="align-right border-left">
                        <p>LAN</p>
                    </li>
                </ul>
            </div>
        </footer>
        
        <script src="{{ windows_js }}"></script>
        <script src="{{ dnd_js }}"></script>
        
    </body>
</html>