{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block windows %}
    <section id="work" class="window" draggable="true" onclick="selectWindow('work')">
        <h1>
            <img src="{{ close_button }}" alt="close" height="17" width="17" onclick="hidestuff('work');">
            {% trans "Work" %}
        </h1>
        <div class="file align-left">
            <p>
                <img src="{{ firefox_logo }}" alt="juliotrigo" height="52" width="55">
                Cesser
            </p>
        </div>
        <div class="file align-left">
            <p>
                <img src="{{ firefox_logo }}" alt="juliotrigo" height="52" width="55">
                Webfusion
            </p>
        </div>
    </section>
    
    <section id="projects" class="window" draggable="true" onclick="selectWindow('projects')">
        <h1>
            <img src="{{ close_button }}" alt="close" height="17" width="17" onclick="hidestuff('projects');">
            {% trans "Projects" %}
        </h1>
        <div class="file align-left">
            <p>
                <img src="{{ firefox_logo }}" alt="juliotrigo" height="52" width="55">
                juliotrigo
            </p>
        </div>
        <div class="file align-left">
            <p>
                <img src="{{ firefox_logo }}" alt="juliotrigo" height="52" width="55">
                RESTfulWebAPI
            </p>
        </div>
    </section>
{% endblock %}