{% extends "windows.html" %}
{% load i18n %}

{% block title %}{% trans "juliotrigo - Software Developer" %}{% endblock %}

{% block work %}{% include "windows_work.html" %}{% endblock %}
{% block projects %}{% include "windows_projects.html" %}{% endblock %}
{% block readme %}{% include "windows_readme.html" %}{% endblock %}
{% block license %}{% include "windows_license.html" %}{% endblock %}
{% block about %}{% include "windows_about.html" %}{% endblock %}
{% block contact %}{% include "windows_contact.html" %}{% endblock %}
{% block recycle %}{% include "windows_recycle.html" %}{% endblock %}