<div class="file align-left" ondblclick="window.open('http://www.linkedin.com/company/cesser');"
                                onclick="window.open('http://www.linkedin.com/company/cesser');">
    <p>
        <img src="{{ chromium_logo }}" alt="Cesser">
        Cesser
    </p>
</div>
<div class="file align-left" ondblclick="window.open('http://www.linkedin.com/company/webfusion');"
                                onclick="window.open('http://www.linkedin.com/company/webfusion');">
    <p>
        <img src="{{ chromium_logo }}" alt="Webfusion">
        Webfusion
    </p>
</div>