<div class="file align-left" ondblclick="window.open('https://github.com/juliotrigo');"
                                onclick="window.open('https://github.com/juliotrigo');">
    <p>
        <img src="{{ chromium_logo }}" alt="Django apps">
        Django Apps
    </p>
</div>
<div class="file align-left" ondblclick="window.open('https://github.com/juliotrigo/restfulwebapi');"
                                onclick="window.open('https://github.com/juliotrigo/restfulwebapi');">
    <p>
        <img src="{{ chromium_logo }}" alt="RESTful Web API">
        RESTful Web API

    </p>
</div>
<div class="file align-left" ondblclick="window.open('https://github.com/juliotrigo/juliotrigo');"
                                onclick="window.open('https://github.com/juliotrigo/juliotrigo');">
    <p>
        <img src="{{ chromium_logo }}" alt="Julio Trigo">
        JulioTrigo
    </p>
</div>