<p>
I am a software engineer.
</p>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"languages"</pre><pre>:[
      "Python",
      "C/AL (Microsoft Dynamics NAV)",
      "C",
      "C++",
      "Java",
      "JavaScript",
      "SQL"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Python"</pre><pre>:{
      </pre><pre class="pre-tittle">"versions"</pre><pre>:[
         "python2.7+",
         "python3+"
      ],
      </pre><pre class="pre-tittle">"packages"</pre><pre>:[
         "pip",
         "virtualenv",
         "virtualenvwrapper",
         "pep8",
         "pylint",
         "six",
         "setuptools",
         "nose",
         "Fabric",
         "Spninx",
         {
            </pre><pre class="pre-tittle">"Django"</pre><pre>:[
               "I18N",
               "Middleware",
               "Request Context"
            ]
         }
      ]
   }
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Web development"</pre><pre>:[
      "HTML",
      "CSS",
      "JavaScript",
      "DOM",
      "Ajax"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"XML"</pre><pre>:[
      "XML",
      "XML Schema",
      "XSLT",
      "XPATH"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"BD"</pre><pre>:[
      "Relational Databases",
      "Microsoft SQL Server",
      "Microsoft Dynamics NAV native database",
      "PostgreSQL",
      "MySQL",
      "SQLite"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"tools"</pre><pre>:[
      "OpenSSH",
      "OpenSSL",
      "PuTTY (PuTTYGen, Pageant)",
      "GPG"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"HTTP Servers"</pre><pre>:[
      "Apache"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Source control system"</pre><pre>:[
      "Git",
      "Subversion"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Bug tracking system"</pre><pre>:[
      "Trac"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Software Architecture styles and patterns"</pre><pre>:[
      "REST (RESTful API)",
      "MVC / MTV (Django)",
      "S.O.L.I.D"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Development process"</pre><pre>:[
      "Agile",
      "TDD",
      "BDD"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"IDE"</pre><pre>:[
      "Eclipse (PyDev, WebTools, EGit, Subclipse)",
      "NINJA IDE",
      "Vim"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Misc"</pre><pre>:[
      "HTTP",
      "JSON",
      "UML",
      "Linux",
      "payment gateway",
      "billing"
   ]
}
</pre>
</div>