{% load i18n %}

<div class="monospace">
    <h2>{% trans "Julio Trigo's website" %}</h2>
    <br>
    <p>{% trans "What is it?" %}</p>
    <p>-----------</p>
    <p>{% trans "This is my personal website." %}</p>
    <p>{% trans "The aim of this site is to present some information about me and my work." %}</p>
    <br>
    <p>{% trans "Version" %}</p>
    <p>------------------</p>
    <p>{% trans "The current version of this project is v1.0.0." %}</p>
    <br>
    <p>{% trans "Technologies" %}</p>
    <p>------------</p>
    <p>{% trans "This website is powered by Django, the Python Web framework." %}</p>
    <p>{% trans "It is all written in Python, HTML, CSS and JavaScript." %}</p>
    <br>
    <p>{% trans "Languages" %}</p>
    <p>---------</p>
    <p>{% trans "This website is translated into English and Spanish. It uses Django internationalization (I18N) for that purpose." %}</p>
    <p>{% trans "The language can be selected at the taskbar." %}</p>
    <br>
    <p>{% trans "Design" %}</p>
    <p>------</p>
    <p>{% trans "Icons" %}</p>
    <p>{% trans "You can either click or double click on an icon to trigger its default action." %}</p>
    <br>
    <p>{% trans "Windows" %}</p>
    <p>{% trans "All windows and folders are managed using CSS and JavaScript." %}</p>
    <p>{% trans "You can drag and drop all windows on this site." %}</p>
    <p>{% trans "There are several window categories: folders, recycle bin, Web browsers and text editors." %}</p>
    <p>{% trans "Windows can be closed by clicking on the red button at the top left corner." %}</p>
    <br>
    <p>{% trans "Taskbar" %}</p>
    <p>{% trans "There is a taskbar at the bottom of the page which contains the website logo, links to some of my profiles on other sites, links to related technologies, the language selection bar and the time." %}</p>
    <br>
    <p>{% trans "Source Code" %}</p>
    <p>-----------</p>
    <p>{% trans "This is an Open Source project hosted on GitHub:" %}</p>
    <p>https://github.com/juliotrigo/juliotrigo</p>
    <br>
    <p>{% trans "Author" %}</p>
    <p>------</p>
    <p>{% trans "Please see the file called About." %}</p>
    <br>
    <p>{% trans "Contact Info" %}</p>
    <p>------------</p>
    <p>{% trans "Please see the file called Contact." %}</p>
    <br>
    <p>{% trans "Licensing" %}</p>
    <p>---------</p>
    <p>{% trans "Please see the file called LICENSE." %}</p>
    <br>
</div>