{% load i18n %}

<div id="about-column" class="align-left">
    <h2>{% trans "About me" %}</h2>
    <p>
        {% trans "My name is Julio Trigo and I am a software engineer based in London." %}
    </p>
    <p>
        {% trans "I graduated in 2007 with an engineer's degree in Computer Science and Software Engineering at" %} <a href="http://www.ua.es/">{% trans "University of Alicante" %}</a> {% trans "(Spain) and I have been working as a software developer since then." %}
    </p>
    <p>
        {% trans "I am a Python enthusiast concerned about software quality and coding standards and passionate about software development." %}
    </p>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Python"</pre><pre>:{
      </pre><pre class="pre-tittle">"versions"</pre><pre>:[
         "python2.7+",
         "python3+"
      ],
      </pre><pre class="pre-tittle">"packages"</pre><pre>:[
         "pip",
         "virtualenv",
         "virtualenvwrapper",
         "pep8",
         "pylint",
         "setuptools",
         "nose",
         "Gunicorn",
         {
            </pre><pre class="pre-tittle">"Django"</pre><pre>:[
               "I18N",
               "Authentication",
               "Logging",
               "Middleware"
            ]
         }
      ]
   }
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Languages"</pre><pre>:[
      "Python",
      "C/AL (Navision)",
      "C",
      "C++",
      "Java",
      "SQL"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Web development"</pre><pre>:[
      "HTML",
      "CSS",
      "JavaScript",
      "DOM",
      "Ajax"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Development processes"</pre><pre>:[
      "Agile",
      "TDD",
      "BDD"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Architectural styles, patterns and principles of software"</pre><pre>:[
      "REST (RESTful API)",
      "MVC / MTV (Django)",
      "SOLID",
      "DRY"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"ERP"</pre><pre>:[
      "Navision",
      "Billing",
      "Direct Debit",
      "Payment Gateway"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"HTTP servers"</pre><pre>:[
      "Nginx",
      {
         </pre><pre class="pre-tittle">"Apache"</pre><pre>:[
            "mod_wsgi",
            "mod_ssl"
         ]
      }
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Revision control systems"</pre><pre>:[
      "Git",
      "Subversion"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"XML"</pre><pre>:[
      "DTD",
      "XML Schema",
      "XSLT",
      "XPATH"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"DB"</pre><pre>:[
      "Relational databases",
      "PostgreSQL",
      "SQLite",
      "SQL Server",
      "Navision native databases"
   ]
}
</pre>
</div>

<div class="pre-item monospace align-left">
<pre>
{
   </pre><pre class="pre-tittle">"Misc"</pre><pre>:[
      "Linux",
      "HTTP",
      "JSON",
      "UML",
      {
         </pre><pre class="pre-tittle">"Tools"</pre><pre>:[
            "OpenSSH",
            "OpenSSL"
         ]
      }
   ]
}
</pre>
</div>
