{% extends "base.html" %}
{% load i18n %}

{% block windows %}
    <section id="work" class="window window-folder" draggable="true" onclick="appWindows.selectWindow('work')" onmousedown="appWindows.selectWindow('work')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('work', appWindows.folder.type);">
            {% trans "Work" %}
        </h1>
        <div class="menu menu-folder">
            <span class="menu-item">{% trans "/home/juliotrigo/Desktop/Work" %}</span>
        </div>
        <div class="window-content folder-content" draggable="false">
            {% block work %}{% endblock %}
        </div>
    </section>
    <section id="projects" class="window window-folder" draggable="true" onclick="appWindows.selectWindow('projects')" onmousedown="appWindows.selectWindow('projects')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('projects', appWindows.folder.type);">
            {% trans "Projects" %}
        </h1>
        <div class="menu menu-folder">
            <span class="menu-item">{% trans "/home/juliotrigo/Desktop/Projects" %}</span>
        </div>
        <div class="window-content folder-content" draggable="false">
            {% block projects %}{% endblock %}
        </div>
    </section>
    <section id="readme" class="window window-txt" draggable="true" onclick="appWindows.selectWindow('readme')" onmousedown="appWindows.selectWindow('readme')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('readme', appWindows.txt.type);">
            {% trans "README" %}
        </h1>
        <div class="menu menu-txt">
            <span class="menu-item">{% trans "File" %}</span>
            <span class="menu-item">{% trans "Edit" %}</span>
            <span class="menu-item">{% trans "Format" %}</span>
            <span class="menu-item">{% trans "View" %}</span>
            <span class="menu-item">{% trans "Help" %}</span>
        </div>
        <div class="window-content txt-content" draggable="false">
            {% block readme %}{% endblock %}
        </div>
    </section>
    <section id="license" class="window window-browser" draggable="true" onclick="appWindows.selectWindow('license')" onmousedown="appWindows.selectWindow('license')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('license', appWindows.firefox.type);">
            {% trans "LICENSE - Mozilla Firefox" %}
        </h1>
        <div class="menu menu-browser">
            <span class="menu-item url-bar">{% trans "file:///home/juliotrigo/Desktop/LICENSE.html" %}</span>
            <span class="menu-item">{% trans "File" %}</span>
            <span class="menu-item">{% trans "Edit" %}</span>
            <span class="menu-item">{% trans "View" %}</span>
            <span class="menu-item">{% trans "Bookmarks" %}</span>
            <span class="menu-item">{% trans "Help" %}</span>
        </div>
        <div class="window-content browser-content" draggable="false">
            {% block license %}{% endblock %}
        </div>
    </section>
    <section id="about" class="window window-browser" draggable="true" onclick="appWindows.selectWindow('about')" onmousedown="appWindows.selectWindow('about')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('about', appWindows.firefox.type);">
            {% trans "About - Mozilla Firefox" %}
        </h1>
        <div class="menu menu-browser">
            <span class="menu-item url-bar">{% trans "file:///home/juliotrigo/Desktop/About.html" %}</span>
            <span class="menu-item">{% trans "File" %}</span>
            <span class="menu-item">{% trans "Edit" %}</span>
            <span class="menu-item">{% trans "View" %}</span>
            <span class="menu-item">{% trans "Bookmarks" %}</span>
            <span class="menu-item">{% trans "Help" %}</span>
        </div>
        <div class="window-content browser-content" draggable="false">
            {% block about %}{% endblock %}
        </div>
    </section>
    <section id="contact" class="window window-browser" draggable="true" onclick="appWindows.selectWindow('contact')" onmousedown="appWindows.selectWindow('contact')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('contact', appWindows.firefox.type);">
            {% trans "Contact - Mozilla Firefox" %}
        </h1>
        <div class="menu menu-browser">
            <span class="menu-item url-bar">{% trans "file:///home/juliotrigo/Desktop/Contact.html" %}</span>
            <span class="menu-item">{% trans "File" %}</span>
            <span class="menu-item">{% trans "Edit" %}</span>
            <span class="menu-item">{% trans "View" %}</span>
            <span class="menu-item">{% trans "Bookmarks" %}</span>
            <span class="menu-item">{% trans "Help" %}</span>
        </div>
        <div class="window-content browser-content" draggable="false">
            {% block contact %}{% endblock %}
        </div>
    </section>
    <section id="recycle" class="window window-folder" draggable="true" onclick="appWindows.selectWindow('recycle')" onmousedown="appWindows.selectWindow('recycle')">
        <h1>
            <img src="{{ close_button }}" alt="close" onclick="appWindows.hidestuff('recycle', appWindows.recycle.type);">
            {% trans "Recycle Bin" %}
        </h1>
        <div class="window-content folder-content" draggable="false">
            {% block recycle %}{% endblock %}
        </div>
    </section>
{% endblock %}