@charset "UTF-8";

/*------------------------------------------------------------------
[Layout]

* body
    + Content / div#content-wrapper
        - Logo / div#logo
        - First Column / .column#first-column
            - Files / .file
        - Second Column / .column#second-column
            - Files / .file
        - Window / .window #work
            - Header / h1
            - Files / .folder-content .file
        - Window / .window #projects
            - Header / h1
            - Files / .folder-content .file
        - Window / .window #license
            - Header / h1
            - Text / .browser-content
    + Footer / footer#bottom-bar
    
-------------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/*---------------------------- GLOBAL ----------------------------*/
/*-----------------------------------------------------------------*/

html, body, ol, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #0d83dd;
    overflow: hidden;
}

body {
    background-color: #0d83dd;
    color: white;
    overflow: hidden;
}

li
{
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*-----------------------------------------------------------------*/
/*---------------------------- CONTENT ----------------------------*/
/*-----------------------------------------------------------------*/

#content-wrapper {
    margin: 0px 0px 85px 0px;
}

#logo {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 400px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#language-selection {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 13.3%;
    height: 35px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    background-color: #deeeff;
    border-radius: 0px 0px 10px 10px;
}

/*---------------------------- Columns ----------------------------*/

.column {
    margin: 0px;
    padding: 0px;
}

#second-column {
    position: absolute;
    top: 0px;
    left: 85px;
}

.file {
    margin: 20px 20px 0px 20px;
    padding: 0px;
    width: 45px;
    cursor: pointer;
}

.file > p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#content-wrapper > .column > .file > p {
    color: white;
}

/*---------------------------- Windows ----------------------------*/

.window {
    position: absolute;
    /*top: 35%;
    left: 20%;*/  /* For Google Chrome */
    margin: 0px;
    padding: 0px;
    border-radius: 7px 7px 2px 2px;
    background-color: white;
    
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(255, 255, 255)), color-stop(0.67, #535565));*/
    background-image: linear-gradient(0deg, #535565, white 3%);
    /*background-image: linear-gradient(90deg, #535565, white 2%);*/
    /*background-image: linear-gradient(-90deg, #535565, white 2%);*/
}

.folder-content {
    width: 350px;
    height: 250px;
    
    overflow: auto;  /* scroll if necessary */
}

.browser-content {
    width: 650px;
    height: 450px;
    
    overflow: auto;  /* scroll if necessary */
}

section.window > h1 {
    margin: 0px;
    padding: 5px;
    border-radius: 7px 7px 0px 0px;
    
    font-size: 1.0em;
    font-style: normal;
    font-weight: normal;    
    color: white;
    background-color: #535565; /* #535565 #4B4D5C */
}

section.window > h1 > img {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

.folder-content > .file > p {
    color: black;
}

.browser-content > h2, .browser-content > p {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

#work {
    visibility: hidden;
    z-index: 1;
    top: 0;  /* For Google Chrome */
    left: 0;
}

#projects {
    visibility: hidden;
    z-index: 2;
    top: 0;  /* For Google Chrome */
    left: 0;
}

#license {
    visibility: hidden;
    z-index: 3;
    top: 0;  /* For Google Chrome */
    left: 0;
}

/*-----------------------------------------------------------------*/
/*---------------------------- FOOTER -----------------------------*/
/*-----------------------------------------------------------------*/

footer#bottom-bar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 99999;
    
    height: 55px;
    background: #deeeff;
}

footer#bottom-bar li {
    padding: 5px 5px 5px 5px;
    margin: 0px;
    width: 55px;
    
    text-align: center;
}

footer#bottom-bar li p {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    height: 25px;
    
    color: black;
    text-align: center;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.border-left {
    border-left: 2px solid #0d83dd;
}
