@charset "UTF-8";

html, body, ol, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #0d83dd;
}

body {
    background-color: #0d83dd;
    color: white;
}

li
{
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/********** CONTENT **********/

#content-wrapper {
    margin: 0px 0px 85px 0px;
}

#logo {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 400px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#language-selection {
    position: absolute;
    top: 0px;
    right: 5%;
    width: 13.3%;
    height: 35px;
    padding: 15px 0px 0px 0px;
    text-align: center;
    background-color: #deeeff;
    border-radius: 0px 0px 10px 10px;
}

.file {
    margin: 20px 20px 0px 20px;
    padding: 0px;
    width: 55px;
    cursor: pointer;
}

.file > p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.window {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 350px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    border-radius: 7px 7px 2px 2px;
    background-color: white;
    
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(255, 255, 255)), color-stop(0.67, #535565));*/
    background-image: linear-gradient(0deg, #535565, white 3%);
    /*background-image: linear-gradient(90deg, #535565, white 2%);*/
    /*background-image: linear-gradient(-90deg, #535565, white 2%);*/
}

#content-wrapper > .file > p {
    color: white;
}

section.window > .file > p {
    color: black;
}

section.window > h1 {
    margin: 0px;
    padding: 5px;
    border-radius: 7px 7px 0px 0px;
    
    font-size: 1.0em;
    font-style: normal;
    font-weight: normal;    
    color: white;
    background-color: #535565; /* #535565 #4B4D5C */
}

section.window > h1 > img {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}

#work {
    visibility: hidden;
    z-index: 1;
}

#projects {
    visibility: hidden;
    z-index: 2;
}

/********** FOOTER **********/

footer#bottom-bar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 10000;
    
    height: 65px;
    background: #deeeff;
}

footer#bottom-bar li {
    padding: 5px 5px 5px 5px;
    margin: 0px;
    width: 65px;
    
    text-align: center;
}

footer#bottom-bar li p {
    margin: 0px;
    padding: 15px 0px 15px 0px;
    height: 25px;
    
    color: black;
    text-align: center;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.border-left {
    border-left: 2px solid #0d83dd;
}
