@charset "UTF-8";

html, body, ol, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Tahoma, Arial, sans-serif;
    background-color: #0d83dd;
}

body {
    background-color: #0d83dd;
    color: white;
}

li
{
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
